////////////////////////////////////////////////////////////////////////////////
// *
// * office detail: view-mode 'office-promoted'
// *
////////////////////////////////////////////////////////////////////////////////

.office--office-promoted {
  // ** sidebar
  .layout__sidebar {
    padding-bottom: rem($gap-vert-bottom-xs);
  }

  // ** main content
  .layout__content {
    //
  }

  // ** description
  .layout__content__row--top {
    margin-bottom: rem($gap-vert);
  }

  // -- address
  .layout__content__row--main {
    //
  }

  // -- office hours
  .layout__content__row--bottom {
    //
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // *
  // =============================================================================

  .office--office-promoted {

    // ** sidebar

    .layout__sidebar {
      @include flex-col(4);
      padding-bottom: 0;
    }

    // ** main content

    .layout__content {
      @include flex-col(8);
      padding-left: rem($grid-gap-hor); // extra space next to picture
      padding-bottom: 0;

      // columns for nested groups
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start; // don't stretch heights
    }

    // ** groups

    // -- text

    .layout__content__row--top {
      flex: 0 0 100%;
      width: 100%;
    }

    // -- address

    .layout__content__row--main {
      // IE fix because it does not respect box-sizing
      // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
      flex: 0 0 50%;
      flex-basis: auto;
      width: 50%;
      padding-right: rem($grid-gap-hor / 2);
      margin-bottom: 0;
    }

    // -- office hours

    .layout__content__row--bottom {
      // IE fix because it does not respect box-sizing
      // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
      flex: 0 0 50%;
      flex-basis: auto;
      width: 50%;
      padding-left: rem($grid-gap-hor / 2);
      margin-bottom: 0;
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // *
  // =============================================================================

  .office--office-promoted {

    // ** sidebar

    .layout__sidebar {
      @include flex-col(4);
    }

    // ** main content

    .layout__content {
      @include flex-col(8);
      padding-left: rem($grid-gap-hor * 2); // extra space next to picture
    }

    // ** groups

    // -- text

    .layout__content__row--top {
      margin-bottom: rem($gap-vert-lg);
    }

    // -- address

    .layout__content__row--main {
      //
    }

    // -- office hours

    .layout__content__row--bottom {
      //
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // *
  // =============================================================================

  .office--office-promoted {

    // ** sidebar

    .layout__sidebar {
      //
    }

    // ** main content

    .layout__content {
      padding-left: rem($grid-gap-hor * 3); // extra space next to picture
      //
    }
  }

}
