/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/* stylelint-enable */
.overview--product-overview .block--provider-facets h2 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #303030;
}

.overview--product-overview .block--provider-facets h2 a,
.overview--product-overview .block--provider-facets h2 a:visited {
  text-decoration: none;
  color: #de0055;
}

.overview--product-overview .block--provider-facets h2 a:hover {
  text-decoration: underline;
  color: #de0055;
}

.overview--product-overview .block--provider-facets ul[class*="item-list"] {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.overview--product-overview .block--provider-facets .item-list__checkbox,
.overview--product-overview .block--provider-facets .item-list__radio,
.overview--product-overview .block--provider-facets .item-list__radiobutton {
  cursor: pointer;
}

.overview--product-overview .block--provider-facets .item-list__checkbox .facet-item,
.overview--product-overview .block--provider-facets .item-list__radio .facet-item,
.overview--product-overview .block--provider-facets .item-list__radiobutton .facet-item {
  position: relative;
  padding-left: 1.875rem;
  margin-bottom: 0.3125rem;
}

.overview--product-overview .block--provider-facets .item-list__checkbox input,
.overview--product-overview .block--provider-facets .item-list__radio input,
.overview--product-overview .block--provider-facets .item-list__radiobutton input {
  position: absolute;
  left: 0;
}

.overview--product-overview .block--provider-facets .facet-item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.overview--product-overview .block--provider-facets .facet-item a {
  display: -ms-flexbox;
  display: flex;
}

.overview--product-overview .block--provider-facets .facet-item .product-facet-item__status {
  display: none;
}

.overview--product-overview .block--provider-facets .facet-item .product-facet-item__count {
  margin-left: 0.625rem;
}

@media (max-width: 767px) {
  .overview--product-overview .block--provider-facets h2 {
    cursor: pointer;
    position: relative;
    padding: 0 1.5625rem 0 0;
    transition: all 0.3s ease-in-out;
  }
  .overview--product-overview .block--provider-facets h2::before {
    content: "\f078";
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    font-size: 1rem;
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    color: #303030;
  }
  .overview--product-overview .block--provider-facets h2::before {
    position: absolute;
    right: 0;
    top: 0.375rem;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
  }
  .overview--product-overview .block--provider-facets.block--facet-blockproduct-categories [class*="facets-widget-"] {
    padding: 0;
    transition: all 0.3s ease-in-out;
  }
  .overview--product-overview .block--provider-facets .facet-item {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }
  .overview--product-overview .block--provider-facets.js-open h2::before {
    -ms-transform: rotate(0);
    transform: rotate(0);
    -ms-transform-origin: center center;
    transform-origin: center center;
  }
  .overview--product-overview .block--provider-facets.js-open .facet-item {
    max-height: 6.25rem;
  }
}

@media (min-width: 768px) {
  .overview--product-overview .block--provider-facets .item-list__checkbox .facet-item,
  .overview--product-overview .block--provider-facets .item-list__radio .facet-item,
  .overview--product-overview .block--provider-facets .item-list__radiobutton .facet-item {
    margin-bottom: 0.3125rem;
  }
}

.product--full .slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 2rem;
  font-size: 0;
  color: #fff;
  background: rgba(16, 191, 255, 0.5);
  transition: all 0.3s ease-in-out;
}

.product--full .slick-arrow:hover {
  background: #10bfff;
}

.product--full .slick-arrow.slick-disabled {
  opacity: 0;
}

.product--full .slick-arrow .text {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.product--full .slick-arrow .text.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.product--full .slick-prev {
  left: 0;
}

.product--full .slick-prev::before {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "\f053";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.125rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.product--full .slick-prev::before {
  width: 100%;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.product--full .slick-next {
  right: 0;
}

.product--full .slick-next::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: "\f054";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.125rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  color: #fff;
}

.product--full .slick-next::after {
  width: 100%;
  text-align: center;
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.product--full .slick--main {
  position: relative;
  overflow: hidden;
  background: #e5e5e5;
}

.product--full .slick--main img {
  max-height: 25rem;
}

.product--full .slick--main:hover .slick-prev {
  left: 0;
}

.product--full .slick--main:hover .slick-next {
  right: 0;
}

.product--full .slick--main .slick-prev {
  left: -2rem;
}

.product--full .slick--main .slick-next {
  right: -2rem;
}

.product--full .slick--main .slick-track {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.product--full .slick--skin--asnavfor {
  position: relative;
  margin-top: 1.5rem;
  overflow: hidden;
}

.product--full .slick--skin--asnavfor .slick-list {
  margin: 0 -0.625rem;
}

.product--full .slick--skin--asnavfor .slide {
  padding: 0 0.625rem;
}

#cboxClose,
#cboxPrevious,
#cboxNext {
  min-height: auto;
  transition: none;
}

#cboxCurrent {
  bottom: 0;
}

@media (min-width: 940px) {
  .slick--main img {
    margin: 0 auto;
    max-height: 37.5rem;
  }
}

.product--teaser .field--name-field-product-teaser {
  position: absolute !important;
  display: block !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  overflow: hidden !important;
  height: 0.0625rem !important;
  width: 0.0625rem !important;
  word-wrap: normal !important;
}

.product--teaser .field--name-field-product-teaser.focusable:focus {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 10010 !important;
  display: block !important;
  clip: auto !important;
  overflow: visible !important;
  height: auto !important;
  width: auto !important;
  background: #fff;
}

.product__cols--full {
  padding: 1.5rem 0 1.5rem 0;
}

.product__cols--full .layout__content__row--main {
  margin-top: 1.5rem;
}

.product__cols--full h2 {
  margin-bottom: 0;
}

.product__cols--full .block--field-blocknodeproductfield-product-description {
  margin-top: 1.5rem;
}

.product__cols--full .layout__content__row--bottom {
  margin-top: 1.5rem;
}

.product__cols--full .field--name-field-media-file .file {
  padding-left: 0;
}

.product__cols--full .field--name-field-media-file .icon {
  display: none;
}

.product__cols--full .field--name-field-media-file a {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  padding: 0.625rem 1.1875rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
}

.font-text-01-loaded .product__cols--full .field--name-field-media-file a {
  font-family: "Open Sans", "Arial", sans-serif;
}

.product__cols--full .field--name-field-media-file a, .product__cols--full .field--name-field-media-file a:visited {
  color: #10bfff;
}

.product__cols--full .field--name-field-media-file a:hover, .product__cols--full .field--name-field-media-file a:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.product__cols--full .field--name-field-media-file a:focus, .product__cols--full .field--name-field-media-file a:focus:hover {
  outline: 0;
}

.product__cols--full .field--name-field-media-file a.disabled, .product__cols--full .field--name-field-media-file a:disabled, .product__cols--full .field--name-field-media-file a[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.product__cols--full .rs-configurable-link-formatter {
  margin-top: 0.9375rem;
}

@media (min-width: 768px) {
  .product__cols--full {
    padding: 1.5rem 0 1.5rem 0;
  }
  .product__cols--full .layout__content__row--main {
    margin-top: 1.5rem;
  }
  .product__cols--full .block--field-blocknodeproductfield-product-description {
    margin-top: 1.5rem;
  }
  .product__cols--full .layout__content__row--bottom {
    margin-top: 1.5rem;
  }
}

@media (min-width: 940px) {
  .product__cols--full {
    padding: 2.5rem 0 2.5rem 0;
  }
  .product__cols--full .layout__content__row--main {
    margin-top: 2.5rem;
  }
  .product__cols--full .block--field-blocknodeproductfield-product-description {
    margin-top: 2.5rem;
  }
  .product__cols--full .layout__content__row--bottom {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .product__cols--full {
    padding: 3.125rem 0 3.125rem 0;
  }
}

.field--name-field-product-related-products {
  margin-top: 1.5rem;
  padding: 1.5rem 0 1.5rem 0;
  position: relative;
  z-index: 5;
}

.field--name-field-product-related-products:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #e5e5e5;
}

@media (min-width: 768px) {
  .field--name-field-product-related-products {
    margin-top: 1.5rem;
    padding: 1.5rem 0 1.5rem 0;
  }
}

@media (min-width: 940px) {
  .field--name-field-product-related-products {
    margin-top: 2.5rem;
    padding: 2.5rem 0 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  .field--name-field-product-related-products {
    margin-top: 3.125rem;
    padding: 6.875rem 0 6.875rem 0;
  }
}

@media (min-width: 940px) {
  .overview--product-overview .paragraph__sidebar {
    padding-right: 1.25rem;
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
    margin-top: 0;
  }
  .overview--product-overview .paragraph__sidebar + .paragraph__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    margin-top: 0;
  }
  .overview--product-overview .paragraph__sidebar + .paragraph__content .product--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 1200px) {
  .overview--product-overview .paragraph__content:first-child .product--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
  .overview--product-overview .paragraph__sidebar {
    padding-right: 0;
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(25% - 1.875rem);
    margin-top: 0;
  }
  .overview--product-overview .paragraph__sidebar + .paragraph__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    position: relative;
    left: 8.33333%;
    margin-top: 0;
  }
  .overview--product-overview .paragraph__sidebar + .paragraph__content .product--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
}
