////////////////////////////////////////////////////////////////////////////////
// *
// * Office variables
// *
// *
////////////////////////////////////////////////////////////////////////////////


// **
// =============================================================================

// -- backgrounds

$color-office-form-bg: $color-gray-light-1;
$color-office-header-bg: $color-black;
$color-office-hours-bg: $color-gray-light-1;
