////////////////////////////////////////////////////////////////////////////////
// *
// * realisation meta on full page: part of the header
// *
////////////////////////////////////////////////////////////////////////////////

.realisation__header--full {
  .layout__subregion-02 {
    position: relative;
    padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
    transition: all $duration $easing;
  }

  // ** breadcrumb

  .breadcrumb__item {
    //
  }

  .breadcrumb__link {
    //
  }
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .realisation__header--full {

    .layout__subregion-02 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 5; // go over the header img and bg

      // spread items evenly in 1 row
      display: flex;
      justify-content: space-between;

      width: 100%;

      // -- Example: set a background-color
      // @include full-bg ($color-spot-1, "before");

      h3 {
        //
      }

      a {
        //
      }

    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .realisation__header--full {
    .layout__subregion-02 {
      //
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .realisation__header--full {
    .layout__subregion-02 {
      //
    }
  }

}
