/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/* stylelint-enable */
.blog__top--full {
  position: relative;
}

.blog__top--full .field--image .media,
.blog__top--full .field--name-field-media-canonical-image .media {
  position: static;
}

.blog__top--full .layout__subregion-01 {
  position: relative;
}
