/**
 * Square mixin
 *
 * @param [Number] $dimensions = the height and width of the element
 */
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/* stylelint-enable */
.office--full .layout__content,
.office--office-promoted .layout__content {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.office--full .layout__content .address__lines,
.office--full .layout__content .field__item--name-field-office-phone,
.office--full .layout__content .field__item--name-field-office-fax,
.office--full .layout__content .field__item--name-field-office-email,
.office--office-promoted .layout__content .address__lines,
.office--office-promoted .layout__content .field__item--name-field-office-phone,
.office--office-promoted .layout__content .field__item--name-field-office-fax,
.office--office-promoted .layout__content .field__item--name-field-office-email {
  padding-left: 1.5rem;
}

.office--full .layout__content .address__locality,
.office--full .layout__content .address__country,
.office--office-promoted .layout__content .address__locality,
.office--office-promoted .layout__content .address__country {
  padding-left: 1.5rem;
}

.office--full .layout__content .address__lines,
.office--office-promoted .layout__content .address__lines {
  position: relative;
}

.office--full .layout__content .address__lines::before,
.office--office-promoted .layout__content .address__lines::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f041";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .layout__content .field__item--name-field-office-phone,
.office--office-promoted .layout__content .field__item--name-field-office-phone {
  position: relative;
}

.office--full .layout__content .field__item--name-field-office-phone::before,
.office--office-promoted .layout__content .field__item--name-field-office-phone::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f095";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .layout__content .field__item--name-field-office-fax,
.office--office-promoted .layout__content .field__item--name-field-office-fax {
  position: relative;
}

.office--full .layout__content .field__item--name-field-office-fax::before,
.office--office-promoted .layout__content .field__item--name-field-office-fax::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f1ac";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .layout__content .field__item--name-field-office-email,
.office--office-promoted .layout__content .field__item--name-field-office-email {
  position: relative;
}

.office--full .layout__content .field__item--name-field-office-email::before,
.office--office-promoted .layout__content .field__item--name-field-office-email::before {
  position: absolute;
  left: 0;
  top: 0.25rem;
  content: "\f0e0";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .layout__content .address,
.office--office-promoted .layout__content .address {
  margin-bottom: 1.375rem;
}

.office--full .layout__content .field--name-field-show-contact-us-button,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button {
  margin-top: 2.3125rem;
}

.office--full .layout__content .field--name-field-show-contact-us-button a,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  padding: 0.625rem 1.1875rem;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #10bfff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.font-text-01-loaded .office--full .layout__content .field--name-field-show-contact-us-button a, .font-text-01-loaded
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a {
  font-family: "Open Sans", "Arial", sans-serif;
}

.office--full .layout__content .field--name-field-show-contact-us-button a, .office--full .layout__content .field--name-field-show-contact-us-button a:visited,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:visited {
  color: #fff;
}

.office--full .layout__content .field--name-field-show-contact-us-button a:hover, .office--full .layout__content .field--name-field-show-contact-us-button a:active,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:hover,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.office--full .layout__content .field--name-field-show-contact-us-button a:focus, .office--full .layout__content .field--name-field-show-contact-us-button a:focus:hover,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:focus,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:focus:hover {
  outline: 0;
}

.office--full .layout__content .field--name-field-show-contact-us-button a.disabled, .office--full .layout__content .field--name-field-show-contact-us-button a:disabled, .office--full .layout__content .field--name-field-show-contact-us-button a[disabled],
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a.disabled,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a:disabled,
.office--office-promoted .layout__content .field--name-field-show-contact-us-button a[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.office--footer {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.office--footer .address__lines,
.office--footer .field__item--name-field-office-phone,
.office--footer .field__item--name-field-office-fax,
.office--footer .field__item--name-field-office-email {
  padding-left: 1.5rem;
}

.office--footer .address__locality,
.office--footer .address__country {
  padding-left: 1.5rem;
}

.office--footer .address__lines {
  position: relative;
}

.office--footer .address__lines::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f041";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--footer .field__item--name-field-office-phone {
  position: relative;
}

.office--footer .field__item--name-field-office-phone::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f095";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--footer .field__item--name-field-office-fax {
  position: relative;
}

.office--footer .field__item--name-field-office-fax::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f1ac";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--footer .field__item--name-field-office-email {
  position: relative;
}

.office--footer .field__item--name-field-office-email::before {
  position: absolute;
  left: 0;
  top: 0.25rem;
  content: "\f0e0";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--footer .address {
  margin-bottom: 1.375rem;
}

@media (max-width: 767px) {
  .office--footer .layout__region {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
  .office--footer .address {
    text-align: left;
  }
  .office--footer .field__item--name-field-office-phone .field__items,
  .office--footer .field__item--name-field-office-fax .field__items,
  .office--footer .field__item--name-field-office-email .field__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }
}

.office--full .layout--rs-content {
  margin-top: 1.375rem;
}

.office--full .field--name-field-office-show-contact-form {
  padding: 1.375rem 0 1.375rem 0;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 5;
}

.office--full .field--name-field-office-show-contact-form:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  height: 100%;
  margin-left: calc((-100vw + 100%) / 2);
  width: 100vw;
  background-color: #e5e5e5;
}

.office--full .webform-submission-office-contact-form .form-actions {
  margin-top: 1.375rem;
}

.office--full .captcha {
  width: 100%;
}

.office--full .form-type--webform-markup,
.office--full .form-type--processed-text {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 3.125rem;
  min-height: 2.5rem;
}

.office--full .form-type--webform-markup::before,
.office--full .form-type--processed-text::before {
  content: "\f05a";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .form-type--webform-markup::before,
.office--full .form-type--processed-text::before {
  position: absolute;
  left: 0.625rem;
  top: 0.3125rem;
}

.office--full .form-type--webform-markup p:last-child,
.office--full .form-type--webform-markup ul:last-child,
.office--full .form-type--webform-markup ol:last-child,
.office--full .form-type--processed-text p:last-child,
.office--full .form-type--processed-text ul:last-child,
.office--full .form-type--processed-text ol:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .office--full .layout--rs-content {
    margin-top: 1.375rem;
  }
  .office--full .field--name-field-office-show-contact-form {
    padding: 1.375rem 0 1.375rem 0;
  }
  .office--full .webform-submission-office-contact-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .office--full .webform-submission-office-contact-form .form__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -0.625rem;
    width: calc(100% + 20px);
  }
  .office--full .webform-submission-office-contact-form .form__row > div,
  .office--full .webform-submission-office-contact-form .form__row > .form__element,
  .office--full .webform-submission-office-contact-form .form__row > .form__group {
    width: calc(50% - 20px);
    margin-left: 0.625rem;
    margin-right: 0.625rem;
  }
  .office--full .webform-submission-office-contact-form .form__row--submit {
    -ms-flex-align: start;
    align-items: start;
  }
  .office--full .webform-submission-office-contact-form .form__row--submit .form__group,
  .office--full .webform-submission-office-contact-form .form__row--submit .form__element,
  .office--full .webform-submission-office-contact-form .form__row--submit .form-actions {
    width: auto;
  }
  .office--full .webform-submission-office-contact-form .form__row--submit .form__element {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  .office--full .webform-submission-office-contact-form .form__row--submit .form-type--webform-markup,
  .office--full .webform-submission-office-contact-form .form__row--submit .form-type--processed-text {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    padding-left: 3.125rem;
    width: auto;
  }
}

@media (min-width: 940px) {
  .office--full .layout--rs-content {
    margin-top: 2.5rem;
  }
  .office--full .field--name-field-office-show-contact-form {
    padding: 2.5rem 0 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  .office--full .layout--rs-content {
    margin-top: 6.875rem;
  }
  .office--full .field--name-field-office-show-contact-form {
    padding: 6.875rem 0 6.875rem 0;
  }
}

.field--type-office-hours {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.field--type-office-hours .office-hours__item {
  padding: 0.125rem 0.625rem;
}

.field--type-office-hours .office-hours__item:nth-child(2n + 1) {
  background-color: #e5e5e5;
}

.field--type-office-hours .office-hours__item-comments {
  display: block;
  margin: 0.3125rem 0;
  padding: 0.125rem 0.3125rem;
  border: 1px solid #0074bd;
  font-style: italic;
  color: #0074bd;
}

.office--teaser .field--image,
.office--teaser .field--name-field-media-canonical-image {
  margin-bottom: 1.375rem;
}

.office--teaser h2,
.office--teaser h3,
.office--teaser h4 {
  font-family: "Arial", sans-serif;
  font-weight: 700;
  margin: 0 0 0.9375rem 0;
  font-size: 1.375rem;
  line-height: 1.75rem;
  color: #303030;
  margin-bottom: 1.375rem;
}

.office--teaser h2 a,
.office--teaser h2 a:visited,
.office--teaser h3 a,
.office--teaser h3 a:visited,
.office--teaser h4 a,
.office--teaser h4 a:visited {
  text-decoration: none;
  color: #de0055;
}

.office--teaser h2 a:hover,
.office--teaser h3 a:hover,
.office--teaser h4 a:hover {
  text-decoration: underline;
  color: #de0055;
}

.font-text-01-loaded .office--teaser h2, .font-text-01-loaded
.office--teaser h3, .font-text-01-loaded
.office--teaser h4 {
  font-family: "Open Sans", "Arial", sans-serif;
}

@media (max-width: 767px) {
  .office--teaser h2,
  .office--teaser h3,
  .office--teaser h4 {
    font-size: 1.05769rem;
    line-height: 1.34615rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .office--teaser h2,
  .office--teaser h3,
  .office--teaser h4 {
    font-size: 1.14583rem;
    line-height: 1.45833rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .office--teaser h2,
  .office--teaser h3,
  .office--teaser h4 {
    font-size: 1.25rem;
    line-height: 1.59091rem;
  }
}

@media (min-width: 1200px) {
  .office--teaser h2,
  .office--teaser h3,
  .office--teaser h4 {
    font-size: 1.375rem;
    line-height: 1.75rem;
  }
}

.office--teaser .layout__content__row--bottom {
  margin-top: 1.375rem;
}

.office--teaser .rs-canonical-link-formatter {
  margin-top: 1.375rem;
}

.office--teaser .rs-canonical-link-formatter a {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  -ms-word-break: keep-all;
  word-break: keep-all;
}

.office--teaser .rs-canonical-link-formatter a::after {
  content: "\f105";
  display: inline-block;
  margin: 0 0 0 0.3125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--teaser .rs-canonical-link-formatter a::before {
  display: none;
}

.office--teaser .rs-canonical-link-formatter a::after {
  transition: none;
}

.office--teaser .rs-canonical-link-formatter a::after {
  display: none;
}

.office--teaser .field--name-field-office-address {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.office--teaser .field--name-field-office-address .address__lines,
.office--teaser .field--name-field-office-address .field__item--name-field-office-phone,
.office--teaser .field--name-field-office-address .field__item--name-field-office-fax,
.office--teaser .field--name-field-office-address .field__item--name-field-office-email {
  padding-left: 1.5rem;
}

.office--teaser .field--name-field-office-address .address__locality,
.office--teaser .field--name-field-office-address .address__country {
  padding-left: 1.5rem;
}

.office--teaser .field--name-field-office-address .address__lines {
  position: relative;
}

.office--teaser .field--name-field-office-address .address__lines::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f041";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-phone {
  position: relative;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-phone::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f095";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-fax {
  position: relative;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-fax::before {
  position: absolute;
  left: 0;
  top: 0.125rem;
  content: "\f1ac";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-email {
  position: relative;
}

.office--teaser .field--name-field-office-address .field__item--name-field-office-email::before {
  position: absolute;
  left: 0;
  top: 0.25rem;
  content: "\f0e0";
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 0.875rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

@media (min-width: 768px) {
  .office--teaser .layout__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    margin-top: 0;
  }
  .office--teaser,
  .office--teaser .layout__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0;
  }
  .office--teaser .layout__content__row--bottom {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
    justify-items: flex-end;
  }
  .office--teaser .rs-canonical-link-formatter {
    margin-top: 0;
  }
  .office--teaser .rs-canonical-link-formatter a {
    cursor: pointer;
    display: inline-block;
    border: 0 none;
    border-radius: 0;
    padding: 0.625rem 1.1875rem;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #10bfff;
    background-repeat: no-repeat;
    outline: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    -ms-word-break: keep-all;
    word-break: keep-all;
  }
  .font-text-01-loaded .office--teaser .rs-canonical-link-formatter a {
    font-family: "Open Sans", "Arial", sans-serif;
  }
  .office--teaser .rs-canonical-link-formatter a, .office--teaser .rs-canonical-link-formatter a:visited {
    color: #fff;
  }
  .office--teaser .rs-canonical-link-formatter a:hover, .office--teaser .rs-canonical-link-formatter a:active {
    border: 0 none;
    color: #fff;
    background: #de0055;
    outline: none;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }
  .office--teaser .rs-canonical-link-formatter a:focus, .office--teaser .rs-canonical-link-formatter a:focus:hover {
    outline: 0;
  }
  .office--teaser .rs-canonical-link-formatter a.disabled, .office--teaser .rs-canonical-link-formatter a:disabled, .office--teaser .rs-canonical-link-formatter a[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: .5;
  }
}

.office--full .layout__cols {
  padding-top: 1.375rem;
}

.office--full .layout__content {
  margin-top: 1.375rem;
}

.office--full .layout__content__row--top {
  margin-bottom: 1.375rem;
}

.office--full .field--name-field-office-geolocation {
  padding: 1.375rem 0 1.375rem 0;
}

.office--full .rs-more-offices-formatter {
  margin: 1.375rem 0 1.375rem 0;
}

.office--full .rs-more-offices-formatter a {
  cursor: pointer;
  display: inline-block;
  border: 0 none;
  border-radius: 0;
  padding: 0.625rem 1.1875rem;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background: #fff;
  background-repeat: no-repeat;
  outline: none;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 0 0 0 2px #10bfff;
  width: 100%;
  text-align: left;
}

.font-text-01-loaded .office--full .rs-more-offices-formatter a {
  font-family: "Open Sans", "Arial", sans-serif;
}

.office--full .rs-more-offices-formatter a, .office--full .rs-more-offices-formatter a:visited {
  color: #10bfff;
}

.office--full .rs-more-offices-formatter a:hover, .office--full .rs-more-offices-formatter a:active {
  border: 0 none;
  color: #fff;
  background: #de0055;
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(16, 191, 255, 0);
}

.office--full .rs-more-offices-formatter a:focus, .office--full .rs-more-offices-formatter a:focus:hover {
  outline: 0;
}

.office--full .rs-more-offices-formatter a.disabled, .office--full .rs-more-offices-formatter a:disabled, .office--full .rs-more-offices-formatter a[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: .5;
}

.office--full .rs-more-offices-formatter a::after {
  content: "\f054";
  display: inline-block;
  margin: 0 0 0 0.625rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  font-size: 1rem;
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
}

.office--full .rs-more-offices-formatter a::after {
  vertical-align: initial;
}

@media (min-width: 768px) {
  .office--full .layout__cols {
    padding-top: 1.375rem;
    margin-top: 0;
  }
  .office--full .layout__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
    margin-top: 0;
  }
  .office--full .layout__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    margin-top: 1.375rem;
    display: -ms-flexbox;
    display: flex;
    flex-basis: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    padding-left: 1.875rem;
    padding-bottom: 0;
  }
  .office--full .layout__content__row--top {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .office--full .layout__content__row--main {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 50%;
    padding-right: 1.875rem;
    margin-bottom: 0;
  }
  .office--full .layout__content__row--bottom {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 50%;
    margin-bottom: 0;
  }
  .office--full .field--name-field-office-geolocation {
    padding: 1.375rem 0 1.375rem 0;
  }
  .office--full .rs-more-offices-formatter {
    margin: 1.375rem 0 1.375rem 0;
  }
}

@media (min-width: 940px) {
  .office--full .layout__cols {
    padding-top: 2.5rem;
  }
  .office--full .layout__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
    margin-top: 0;
  }
  .office--full .layout__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    margin-top: 1.375rem;
    padding-left: 3.75rem;
  }
  .office--full .layout__content__row--top {
    margin-bottom: 2.3125rem;
  }
  .office--full .field--name-field-office-geolocation {
    padding: 2.5rem 0 2.5rem 0;
  }
  .office--full .rs-more-offices-formatter {
    margin: 2.5rem 0 2.5rem 0;
  }
}

@media (min-width: 1200px) {
  .office--full .layout__cols {
    padding-top: 3.125rem;
  }
  .office--full .layout__content {
    padding-left: 5.625rem;
  }
  .office--full .field--name-field-office-geolocation {
    padding: 3.125rem 0 3.125rem 0;
  }
  .office--full .rs-more-offices-formatter {
    margin: 3.125rem 0 3.125rem 0;
  }
}

.view--display-satellite-offices .view__header {
  margin: 0 0 0.3125rem 0;
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: #303030;
  margin-bottom: 1.375rem;
}

@media (max-width: 767px) {
  .view--display-satellite-offices .view__header {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 768px) and (max-width: 939px) {
  .view--display-satellite-offices .view__header {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 940px) and (max-width: 1199px) {
  .view--display-satellite-offices .view__header {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 1200px) {
  .view--display-satellite-offices .view__header {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }
}

.view--display-satellite-offices .view__content {
  margin-top: -1.875rem;
}

.view--display-satellite-offices .office--teaser {
  margin-top: 1.875rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .view--display-satellite-offices .view__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 1px;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: -1.875rem;
  }
  .view--display-satellite-offices .office--teaser {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(50% - 1.875rem);
  }
}

@media (min-width: 1200px) {
  .group--paragraphs__item .overview--office-overview-main-offices,
  .group--paragraphs__item .overview--office-overview-offices-map,
  .group--paragraphs__item .overview--office-overview-satellite-offices {
    padding: 3.125rem 0 3.125rem 0;
  }
}

.office--office-promoted .layout__sidebar {
  padding-bottom: 1.375rem;
}

.office--office-promoted .layout__content__row--top {
  margin-bottom: 1.375rem;
}

@media (min-width: 768px) {
  .office--office-promoted .layout__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
    padding-bottom: 0;
  }
  .office--office-promoted .layout__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    padding-left: 1.875rem;
    padding-bottom: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .office--office-promoted .layout__content__row--top {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }
  .office--office-promoted .layout__content__row--main {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 50%;
    padding-right: 0.9375rem;
    margin-bottom: 0;
  }
  .office--office-promoted .layout__content__row--bottom {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 50%;
    padding-left: 0.9375rem;
    margin-bottom: 0;
  }
}

@media (min-width: 940px) {
  .office--office-promoted .layout__sidebar {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(33.33333% - 1.875rem);
  }
  .office--office-promoted .layout__content {
    position: relative;
    margin-left: 0.9375rem;
    margin-right: 0.9375rem;
    margin-top: 1.875rem;
    min-height: 1px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: calc(66.66667% - 1.875rem);
    padding-left: 3.75rem;
  }
  .office--office-promoted .layout__content__row--top {
    margin-bottom: 2.3125rem;
  }
}

@media (min-width: 1200px) {
  .office--office-promoted .layout__content {
    padding-left: 5.625rem;
  }
}
