////////////////////////////////////////////////////////////////////////////////
// *
// * office detail full: 'full' view-mode
// *
////////////////////////////////////////////////////////////////////////////////

.office--full {

  // ** cols
  .layout__cols {
    // create space between header and content
    padding-top: rem($gap-vert-top-xs);
  }

  // ** sidebar
  .layout__sidebar {
    //
  }

  // ** main content
  .layout__content {
    margin-top: rem($gap-vert-bottom-xs);
  }

  // ** groups
  .layout__content__row--top {
    margin-bottom: rem($gap-vert);
  }

  // -- address
  .layout__content__row--main {
    //
  }

  // -- office hours
  .layout__content__row--bottom {
    //
  }

  // ** map

  .field--name-field-office-geolocation {
    padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
  }

  // // full width map
  //
  // .geofield-google-map {
  //   position: relative;
  //   left: 50%;
  //   transform: translateX(-50vw);
  //   width: 100vw !important;
  // }

  // ** More button

  .rs-more-offices-formatter {

    margin: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;

    a {
      @include button-secondary;
      width: 100%;
      text-align: left;

      @include font-awesome((icon: $fa-var-chevron-right, element: after, margin: 0 0 0 rem(10)));

      &::after {
        vertical-align: initial;
      }
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // *
  // =============================================================================

  .office--full {

    .layout__cols {
      // create space between header and content
      padding-top: rem($gap-vert-top-sm);
      margin-top: 0;
    }

    // ** sidebar

    .layout__sidebar {
      @include flex-col(4);
      margin-top: 0;
    }

    // ** main content

    .layout__content {
      @include flex-col(8);
      margin-top: rem($gap-vert-bottom-xs);

      display: flex;
      // IE fix because it does not respect box-sizing
      // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
      flex-basis: auto;

      // columns for nested groups
      flex-wrap: wrap;
      align-content: flex-start; // don't stretch heights

      padding-left: rem($grid-gap-hor); // extra space next to picture
      padding-bottom: 0;
    }

    // ** groups

    // -- text

    .layout__content__row--top {
      flex: 0 0 100%;
      width: 100%;
    }

    // -- address

    .layout__content__row--main {
      // IE fix because it does not respect box-sizing
      // https://github.com/philipwalton/flexbugs#7-flex-basis-doesnt-account-for-box-sizingborder-box
      flex: 0 0 auto;
      flex-basis: auto;
      width: 50%;
      padding-right: rem($grid-gap-hor);
      margin-bottom: 0;
    }

    // -- office hours

    .layout__content__row--bottom {
      flex: 0 0 50%;
      flex-basis: auto;
      width: 50%;
      margin-bottom: 0;
    }

    // ** map

    .field--name-field-office-geolocation {
      padding: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;
    }

    // ** More button

    .rs-more-offices-formatter {
      margin: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // *
  // =============================================================================

  .office--full {

    .layout__cols {
      // create space between header and content
      padding-top: rem($gap-vert-top-md);
    }

    // ** sidebar

    .layout__sidebar {
      @include flex-col(4);
      margin-top: 0;
    }

    // ** main content

    .layout__content {
      @include flex-col(8);
      margin-top: rem($gap-vert-bottom-xs);
      padding-left: rem($grid-gap-hor * 2); // extra space next to picture
    }

    // ** groups

    // -- text

    .layout__content__row--top {
      margin-bottom: rem($gap-vert-lg);
    }

    // -- address

    .layout__content__row--main {
      //
    }

    // -- office hours

    .layout__content__row--bottom {
      //
    }

    // ** map

    .field--name-field-office-geolocation {
      padding: rem($gap-vert-top-md) 0  rem($gap-vert-bottom-md) 0;
    }

    // ** More button

    .rs-more-offices-formatter {
      margin: rem($gap-vert-top-md) 0 rem($gap-vert-bottom-md) 0;
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // *
  // =============================================================================

  .office--full {

    .layout__cols {
      // create space between header and content
      padding-top: rem($gap-vert-top-lg);
    }

    // ** sidebar

    .layout__sidebar {
      //
    }

    // ** main content

    .layout__content {
      padding-left: rem($grid-gap-hor * 3); // extra space next to picture
    }

    // ** map

    .field--name-field-office-geolocation {
      padding: rem($gap-vert-top-lg) 0 rem($gap-vert-bottom-lg) 0;
    }

    // ** More button

    .rs-more-offices-formatter {
      margin: rem($gap-vert-top-lg) 0 rem($gap-vert-bottom-lg) 0;
    }

  }

}
