////////////////////////////////////////////////////////////////////////////////
// *
// * Form: Label
// *
// *
////////////////////////////////////////////////////////////////////////////////


.form__label {
  display: block;
  font-weight: $font-weight-bold;
  transition: all $duration $easing;

  &.is-active {
    color: $color-form-active;
  }
}

// ** Do we want required or optional fields to be marked?

// -- show "required" markers

@if($fields-required) {

  .form__label__required {
    display: none;

    // hide marker on required fields
    .js-form-required & {
      display: inline-block;
      text-decoration: none;
      color: $color-link;
    }
  }

  // hide the other type of marker by default
  .form__label__not-required {
    display: none;
  }

  // -- show "optional" markers
} @else {

  // hide the other type of marker by default
  .form__label__required {
    display: none;
  }

  .form__label__not-required {
    // show by default
    display: inline-block;
    padding: 0 rem(5);
    color: $color-white;
    background: $color-warning;

    // hide marker on required fields
    .js-form-required & {
      display: none;
    }
  }
}


// * Errors & warnings and stuff
// =============================================================================

.form__element--error {

  .form__label {
    color: $color-error;
  }
}
