////////////////////////////////////////////////////////////////////////////////
// *
// * Product Filters
// *
////////////////////////////////////////////////////////////////////////////////


// * Facets in overview (product complex)
// ===========================================================================

// -- we get a column of Filters
//    hidden on mobile, with some JS to fold out

.overview--product-overview {

  // ** facet block by default

  .block--provider-facets {
    //

    h2 {
      //
    }

    // -- list default

    ul[class*="item-list"] {
      //
    }

    // -- list: checkboxes & radios: spacing & positioning for radio/checkbox

    .item-list__checkbox,
    .item-list__radio,
    .item-list__radiobutton {

      cursor: pointer;

      .facet-item {
        //
      }

      input {
        //
      }
    }

    // -- list item by default

    .facet-item {
      //

      // -- link
      a {
        //
      }

      .product-facet-item__status {
        //
      }

      .product-facet-item__value {
        //
      }

      .product-facet-item__count {
        //
      }
    }

  }

  // ** Categories

  .block--facet-blockproduct-categories {

    [class*="facets-widget-"] {
      //
    }
  }

  // ** Properties

  // …

}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: only on mobile
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-xs-only {

  // ** collapsible filters on mobile phone (because not a lot of room)

  .overview--product-overview {

    .block--provider-facets {

      h2 {
        cursor: pointer;

        // -- icon
        &::before {
          //
        }
      }

      // -- facets with a background-color
      &.block--facet-blockproduct-categories [class*="facets-widget-"] {
        padding: 0;
        transition: all $duration $easing;
      }

      // -- default facet list items
      .facet-item,
      .form__dropdown {
        overflow: hidden;
        max-height: 0;
        transition: all $duration $easing;
      }

      // ** states

      &.js-open {

        h2 {
          //

          &::before {
            //
          }
        }

        // -- facets with a background-color
        &.block--facet-blockproduct-categories [class*="facets-widget-"] {
          //
        }

        .facet-item,
        .form__dropdown {
          max-height: rem(100); // think of the heighest this could get when open
        }
      }
    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: wide phone only
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-xs-wide-only {
  //
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {
  //
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {
  //
}
