////////////////////////////////////////////////////////////////////////////////
// *
// * Blog frontpage overview
// *
// *
////////////////////////////////////////////////////////////////////////////////


// *
// =============================================================================

.overview--blog-overview-front {

  h2 {
    margin-bottom: rem(34);
    @include font-size(35, 40);
    text-transform: uppercase;
    color: $color-spot-1;
  }


  .more-link--overview {

    margin-top: rem(-20);
    padding-bottom: rem(20);

    a {
      border-bottom: 0 none;
      @include link-more-big;
      text-decoration: none;
    }
  }

  .blog--frontpage {
    margin-bottom: rem($grid-gap-hor);

    &:last-child {
      margin-bottom: 0;
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: wide phone and wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-xs-wide {

  .overview--blog-overview-front {

    position: relative;

    .more-link--overview {
      position: absolute;
      top: rem(9);
      right: 0;
      margin: 0;
      padding: 0;
    }

    .blog--frontpage {
      margin-bottom: rem(30);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {
  //
}

// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  //

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large screen
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .overview--blog-overview-front {

    h2 {
      margin-bottom: rem(60);
    }

  }

}
