////////////////////////////////////////////////////////////////////////////////
// *
// * Product variables
// *
// *
////////////////////////////////////////////////////////////////////////////////


// **
// =============================================================================

// -- backgrounds

$color-product-header-bg: $color-gray-light-1;
$color-product-categories-bg: $color-gray-light-1;
$color-product-view-related-bg: $color-gray-light-1;
$color-product-teaser-bg: $color-gray-light-1;
$color-product-slider-main-bg: $color-gray-light-1;


// -- spacing

$padding-product-categories: 25;
$padding-product-teaser: 25;


// -- arrows
$color-product-arrows: $color-spot-1;
