////////////////////////////////////////////////////////////////////////////////
// *
// * News fu
// *
////////////////////////////////////////////////////////////////////////////////

.news--full {
  //
}

// ** Top

.news__top--full {
  position: relative;
  z-index: 1;
}

// ** picture + info

.news__header--full {
  position: relative;
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // *
  // =============================================================================

  .news--full {
    //
  }

  // ** picture + info

  .news__header--full {

    // ** picture

    .layout__content {
      //
    }

    // ** meta info

    .layout__sidebar {
      //
    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // *
  // =============================================================================

  .news--full {
    //
  }

  // ** picture + info

  .news__header--full {

    //

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // *
  // =============================================================================

  .news--full {
    //
  }

  // ** picture + info
  .news__header--full {
    //

    // ** picture

    .layout__content {
      //
    }

    // ** meta info

    .layout__sidebar {
      //
    }
  }

}
