////////////////////////////////////////////////////////////////////////////////
// *
// * Blog overview: related
// *
// *
////////////////////////////////////////////////////////////////////////////////


// * Styling
// =============================================================================

.view--related-blogs {

  padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;

  @include full-bg($color-blog-view-related-bg);

  // ** title
  .view__header {
    h2 {
      margin-bottom: rem($gap-vert-bottom-xs);
    }
  }

  .view__content {
    margin-top: rem(-$grid-gap-hor);
    padding-top: 1px; // fix colliding margins with this negative one
  }

  .blog--related {
    margin-top: rem($grid-gap-hor);
  }
}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  .view--related-blogs {

    padding: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;

    // ** title
    .view__header {
      h2 {
        margin-bottom: rem($gap-vert-bottom-sm);
      }
    }

    // ** make a grid

    .view__content {
      @include flex-grid();
    }

    .blog--related {
      @include flex-col(6);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  .view--related-blogs {

    padding: rem($gap-vert-top-md) 0 rem($gap-vert-bottom-md) 0;

    // ** title
    .view__header {
      h2 {
        margin-bottom: rem($gap-vert-bottom-md);
      }
    }

    .blog--related {
      @include flex-col(4);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  .view--related-blogs {

    padding: rem($gap-vert-top-lg) 0 rem($gap-vert-bottom-lg) 0;

    // ** title
    .view__header {
      h2 {
        margin-bottom: rem(40);
      }
    }
  }

}
