.drimage {
  height: inherit;
  line-height: 0;
  font-size: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.drimage img {
  width: 100%;
  height: 100%;
}

.drimage.is-background-image {
  background-repeat: no-repeat;
}

.drimage.is-background-image > img,
.drimage.is-background-image > a > img {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
  margin-top: -1px;
}
