@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////
// *
// * Print css: product
// *
////////////////////////////////////////////////////////////////////////////////

// breakpoint markers already set in theme css
$set-breakpoints: false;

@import "../../00-theme/00-base/_libs.scss";
@import "../../00-theme/00-base/00-config/**/*.scss";
@import "../../00-theme/00-base/01-helpers/**/*.scss";

// enable this one, if you want to use Fontawesome variables (icons)
@import "../../00-theme/00-base/04-vendors/fontawesome/_variables.scss";

@import "00-base/**/*.scss";

@media print {

  // overview
  // =============================================================================

  .view--product-overview {
    .block--provider-facets {
      display: none !important;
    }
  }

  // detail
  // =============================================================================

  .product--header {
    text-align: center;
  }

  .product--header .node__meta--full {
    display: block !important;
  }

  .note__meta--product-full--top {

    .field--name-field-product-tags {

      display: block;
      width: 100%;

      .field__items {
        display: block;
        width: 100%;
        text-align: center;
      }

      .field__item {
        display: inline-block;
      }
    }
  }

}
