////////////////////////////////////////////////////////////////////////////////
// *
// * job page form: present in Panel footer or bottom
// *
////////////////////////////////////////////////////////////////////////////////

.job__bottom--full {

  // ** webform container

  .block--provider-webform {
    padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
    margin-top: rem($gap-vert-bottom-xs);
    transition: all $duration $easing;

    // background-color
    @include full-bg ($color-gray-light-1, "before");
  }

  .form-type--webform-markup,
  .form-type--processed-text {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: rem(50);
    min-height: rem(40);

    @include font-awesome((icon: $fa-var-info-circle, size: 30, type: solid));

    &::before {
      position: absolute;
      left: rem(10);
      top: rem(5);
    }

    p,
    ul,
    ol {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // *
  // =============================================================================

  .job__bottom--full {

    .block--provider-webform {
      padding: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;
      margin-top: rem($gap-vert-bottom-sm);
    }

    .webform-submission-apply-for-this-job-form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .form__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 rem(-10);
        width: calc(100% + 20px);

        // shitty ajax wrappers
        & > div,
        & > .form__element,
        & > .form__group {
          width: calc(50% - 20px);
          margin-left: rem(10);
          margin-right: rem(10);
        }
      }

      // grouping form submit with another element next to it
      .form__row--submit {
        align-items: start;

        .form__group,
        .form__element,
        .form-actions {
          width: auto;
        }

        // any form item you want next to the submit button
        .form__element {
          flex-grow: 1;
        }

        // any text next to submit button
        .form-type--webform-markup,
        .form-type--processed-text {
          flex: 1 0 0;
          padding-left: rem(50); // extra space because of gutters
          width: auto;
        }

        // div with the submit button in it
        .form-actions {
          margin-top: 0;
        }
      }

    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // *
  // =============================================================================

  .job__bottom--full {

    .block--provider-webform {
      padding: rem($gap-vert-top-md) 0 rem($gap-vert-bottom-md) 0;
      margin-top: rem($gap-vert-bottom-md);
    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // *
  // =============================================================================

  .job__bottom--full {

    .block--provider-webform {
      padding: rem($gap-vert-top-lg-2) 0 rem($gap-vert-bottom-lg-2) 0;
      margin-top: rem($gap-vert-bottom-lg);
    }

  }

}
