{#
/**
 * @file
 * Default theme implementation for entity page title.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - title:  Entity label
 *
 * @ingroup themeable
 */
#}
<span{{ attributes }}>
  {{ title }}
</span>
