////////////////////////////////////////////////////////////////////////////////
// *
// * Blog header
// *
// *
////////////////////////////////////////////////////////////////////////////////


// * Blog top region
// =============================================================================

.blog__top--full {
  position: relative;
  margin: 0;
  padding: rem($gap-vert-top-xs) 0 rem($gap-vert-bottom-xs) 0;
  transition: all $duration $easing;

  // some kind of bg by default
  @include full-bg ($color-blog-header-bg, "after");

  // color changes for the content

  &,
  h1,
  h2,
  h3,
  a,
  a:visited,
  a:hover,
  a:active,
  .field {
    color: $color-white;
  }

  // ** background image: make it stretch (like "cover")

  .field--image,
  .field--name-field-media-canonical-image {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 0;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    transform: translateX(-50%);
    opacity: .5; // because text needs to be readable & bg-color can shine through

    // prevent blazy wrappers from breaking positioning of absolute image
    // so needs some styling to enable proper position and stretch of the img
    // basically, match what the sidebar div is doing
    .media {
      position: static;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      max-width: none;
      transform: translateX(-50%) translateY(-50%);
      object-fit: cover; // keep image in ratio (not in IE)
    }
  }

  // ** subregion for title & date

  .layout__subregion-01 {
    position: relative;
    z-index: 1; // over the bg image

    h1,
    h2 {
      margin-bottom: 0;
    }

    // -- the stuff that goes under the title

    .field {
      font-weight: $font-weight-bold;
    }

    .field--name-field-show-post-date {
      margin-top: rem(15);
    }
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: tablet & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-sm {

  // * Blog top region
  // =============================================================================

  .blog__top--full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%; // IE bugfix
    height: rem(270); // no min-height because IE11 doesn't understand it
    padding: rem($gap-vert-top-sm) 0 rem($gap-vert-bottom-sm) 0;

    // ---------------------------------------------------------------------------
    // ALTERNATIVE way of centering the header elements when there are ALWAYS tags
    // ---------------------------------------------------------------------------
    //
    // create equal spacing between all elements
    // by using justify-content: space-between;
    // in combination with a pseudo-element as FIRST element,
    // this will cause the meta info te center and tags to be pushed down
    //
    // .blog__top--full {
    //   justify-content: space-between;
    //
    //   &::before {
    //     content: "";
    //   }
    // }
    //
    // .layout__subregion-02 {
    //   position: static;
    //   display: flex;
    //   justify-content: center;
    // }

    .layout__subregion-01 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      .field {
        margin-top: rem(15);
        margin-left: rem(10);
        margin-right: rem(10);
      }

      // title fills width
      .block--field-blocknodeblogfield-node-title-replacement {
        width: 100%;
      }

    }

    // -- Example: set a background-color
    // @include full-bg ($color-spot-1, "before");

    h3 {
      color: $color-white;
    }

    a {
      &,
      &:visited {
        color: $color-white;

      }
    }

  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: desktop & wider
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-md {

  // * Blog top region
  // =============================================================================

  .blog__top--full {
    padding: rem($gap-vert-top-md) 0 rem($gap-vert-bottom-md) 0;
    height: rem(370);
  }

}


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
// * Breakpoint: large
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

@include bp-lg {

  // * Blog top region
  // =============================================================================

  .blog__top--full {
    padding: rem($gap-vert-top-lg-2) 0 rem($gap-vert-bottom-lg-2) 0;
    height: rem(470);
  }

}
