////////////////////////////////////////////////////////////////////////////////
// *
// * Forms: fieldset
// *
////////////////////////////////////////////////////////////////////////////////


legend {
  display: block;
  @include h3;
  margin: 0;
  font-weight: $font-weight-bold;
  white-space: normal;
  color: $color-base;
}

fieldset,
.form-fieldset,
.ui-dialog [class*="layout-builder"] fieldset:not(.fieldgroup) {
  position: relative; // needed for tooltips
  margin: 0 0 rem($gap-vert) 0;
  padding: rem(10);
  border: 1px solid $color-border;

  legend {
    display: table;
    box-sizing: border-box;
    padding: 0 rem(10);
    max-width: 100%;
    width: auto;
  }

  & > .form__element__tooltip,
  .ui-widget & > .form__element__tooltip {
    right: 2px;
    top: -10px;
  }
}

.fieldset__error-message {
  margin-bottom: rem($gap-vert);
  color: $color-error;
}
