////////////////////////////////////////////////////////////////////////////////
// *
// * Job variables
// *
// *
////////////////////////////////////////////////////////////////////////////////


// **
// =============================================================================

$color-jobs-categories-bg: $color-gray-light-1;
$color-job-teaser-bg: $color-gray-light-1;
$color-job-header-bg: $color-black;

$padding-jobs-categories: 25;
$padding-jobs-teaser: 25;
