//////////////////////////////////////////////////////////////////////////////
// *
// * Styling-overrides for elements of the admin theme
// *
//////////////////////////////////////////////////////////////////////////////


@import "00-base/_libs.scss";
@import "00-base/00-config/**/*.scss";
@import "00-base/01-helpers/**/*.scss";
@import "00-base/02-fonts/**/*.scss";


// * Background-color palette
// =============================================================================

.p-field-bg-color {

  //   ** We style the "none" option for simple header, to be our default background color (eg. "grey")
  //      because they need to have a default bg and we can't get remove or rename the default "none" option.

  label[for="edit-field-header-paragraph-0-subform-field-p-bg-color-none"]._none {

    color: $color-black !important;
    background: $color-gray-light-1 !important;

    &::after {
      content: "a";
      position: absolute;
      z-index: 1;
      top: 3px;
      right: 0;
      bottom: 0;
      left: 0;
      display: table;
      width: 100%;
      height: 100%;
      font-size: 20px !important;
      text-align: center;
      vertical-align: middle;
      background-color: transparent;
      transform: none;
    }
  }

  //   ** Override styles for other colors previews

  /*
  .white {
    background: $color-off-white;
    color: $color-black;
    a {
      color: $color-black;
    }
    a:hover,
    a:focus,
    a:active,
    a.is-active {
      color: $color-black;
    }
  }

  .grey {
    background: $color-gray-light-1;
    color: $color-black;
    a {
      color: $color-black;
    }
    a:hover,
    a:focus,
    a:active,
    a.is-active {
      color: $color-black;
    }
  }

  .spot_01 {
    background: $color-spot-1;
    color: $color-white;
    a {
      color: $color-white;
    }
    a:hover,
    a:focus,
    a:active,
    a.is-active {
      color: $color-white;
    }
  }
  */

}

